<div class="cartFlowGrid">
    <div class="d-flex m-auto textcolors-Yellow">
        <div> <span>購物明細</span> </div>
        <div> <span>結帳資訊</span> </div>
        <div> <span>完成訂單</span> </div>
    </div>
    <div class="d-flex m-auto">
        <div  class=" d-flex">
            <p class="cartFlowP">1</p>
            <div class="cartFlowDiv"></div>
        </div>
        <div class="cartFlow2 d-flex">
            <p class="cartFlowP">2</p>
            <div class="cartFlowDiv"></div>
        </div>
        <div  class="cartFlow3">
            <p class="cartFlowP">3</p>
        </div>
    </div>
</div>