<a class="topBtn pe-none opacity-0" href="#"><img src="/assets/images/topBtn.png" alt="top"></a>

<div class="bgcolor ">
    <div class="footerdistanceDiv m-auto ">
        <div class="footerDiv d-flex">
            <div class="align-content-center">
                <img class="imgLog" src="/assets/images/LOGL.png" alt="LOG">
            </div>
            <div class="footerLinkDiv d-flex w-60 ">
                <ul class="d-flex">
                    <li class="footerLinkli">
                        <a class="Linktxt text-white" href="#">代購流程</a>
                    </li>
                    <li class="footerLinkli">
                        <a class="Linktxt text-white" href="#">常見問題</a>
                    </li>
                    <li class="footerLinkli">
                        <a class="Linktxt text-white" href="#">聯繫我們</a>
                    </li>
                    <li class="footerLinkli">
                        <a class="Linktxt text-white" href="#">隱私權政策</a>
                    </li>
                </ul>
                <ul class="d-flex footerIconLinkDiv ">
                    <li class="pr24px">
                        <a href="#"><img class="w16px" src="/assets/images/IconFb.png" alt="FB"></a>
                    </li>
                    <li class="pr24px">
                        <a href="#"><img class="w16px" src="/assets/images/IconLine.png" alt="LINE"></a>
                    </li>
                    <li>
                        <a href="#"><img class="w16px" src="/assets/images/IconIG.png" alt="IG"></a>
                    </li>
                </ul>
            </div>
            <div class="footerCopyrightDiv w-30">
                <p class="text-white">Copyright © WorldWear all rights reserved</p>
            </div>
        </div>

    </div>
</div>