<nav aria-label="navigation">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">
            <svg width="10" height="19">
                <use href="/assets/images/prev.svg#prev"></use>
            </svg>
          </span>
      </a>
    </li>
    <li class="page-item ms-1 ms-md-2"><a class="page-link active" href="#">1</a></li>
    <li class="page-item ms-1 ms-md-2"><a class="page-link" href="#">2</a></li>
    <li class="page-item ms-1 ms-md-2"><a class="page-link" href="#">3</a></li>
    <li class="page-item ms-1 ms-md-2"><a class="page-link" href="#">4</a></li>
    <li class="page-item ms-1 ms-md-2"><a class="page-link" href="#">...</a></li>
    <li class="page-item ms-1 ms-md-2"><a class="page-link" href="#">10</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">
          <svg width="10" height="19">
            <use href="/assets/images/next.svg#next"></use>
          </svg>
        </span>
      </a>
    </li>
  </ul>
</nav>
