.navCategory {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

.category-item .accordion-header:active {
  background-color: gary;
}

.category-item .accordion-header:focus {
  background-color: gary;
}

.category-item .accordion-header:active {
  background-color: gary;
}

.category-item .accordion-header:focus {
  background-color: gary;
}

.category-button {
  padding: 16px;
  text-align: left; /* 文本左對齊 */
  border-radius: 0;
}

.category-button:hover {
  background-color: #f8f9fa; /* 鼠標懸停時的背景顏色 */
}

.category-button:not(.collapsed) {
  background-color: rgba(198, 207, 215, 0.6);
}

.category-button:focus {
  outline: none; /* 去除默認焦點輪廓 */
  box-shadow: 0 0 5px rgba(198, 207, 215, 0.6); /* 設定陰影顏色和大小 */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-outline-primary,
.btn-outline-special {
  color: #212121;
  border-color: #bbbbbb;
  border-width: 1px;
}

.btn.btn-outline-primary:active,
.btn.btn-outline-primary:checked {
  color: white;
  background-color: black;
}

.btn.btn-outline-primary:hover {
  color: black;
  background-color: rgba(198, 207, 215, 0.6);
  border-color: black;
}

.btn-check {
  display: none;
}

.btn-check:checked + .input-btn,
.btn-check:focus + .input-btn,
.input-btn:first-child:active,
.input-btn.active,
.input-btn.show {
  border: 1px solid #000000;
  color: #ffffff;
  background: #000000;
}

@media (max-width: 576px) {
  .category-button {
    padding: 16px; /* 調整按鈕的內邊距 */
  }
}
