.textcolors-Yellow {
    color: #865300;
}

.cartFlowGrid {
    max-width: 1296px;
    // padding: 0px 110px; 
    margin: auto;

}

.cartFlowP {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #C88119;
    background-color: #FFDDB9;
    font-weight: bold;
}

.cartFlowDiv {
    max-width: 30%;
    height: 4px;
    background-color: #FFDDB9;
}


.cartFlowChk {
    color: #fff;
    background-color: #C88119;
}