.productList-section {
  margin-top: 135px;
  margin-bottom: 144px;
}

@media (max-width: 576px) {
  .productList-section {
    margin-top: 76px;
  }
}

.productList-card .card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加過渡效果 */
}

.productList-card .card-title,
.productList-card .card-text h5 {
  font-weight: 400;
}

.productList-card .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top.mask {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
}

.img-wrapper {
  height: 280px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .productList-card .card .img-wrapper {
    height: 250px; /* 設定小型設備上的圖片容器高度 */
  }

  .productList-card .card .img-wrapper img {
    height: 100%; /* 確保圖片填滿容器 */
    object-fit: cover; /* 確保圖片按比例顯示 */
  }
}

.card-img-top {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.listPrice {
  color: #adaaaa;
  margin-right: 4px;
  text-decoration: line-through;
}

.discountPrice {
  color: red;
}

.productList-category-tag {
  border-radius: 0 4px 4px 0;
  margin-top: 12px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding: 4px;
  border-radius: 4px;
  right: 12px;
}

.status-new {
  background-color: rgba(147, 144, 143, 0.8);
}

.status-hot {
  background-color: rgba(241, 78, 58, 0.7);
}

.status-default {
  background-color: rgba(255, 185, 98, 0.8);
}

.d-none {
  display: none;
}

.btn-outline-danger {
  --bs-btn-color: #93908f;
  --bs-btn-bg: white;
  --bs-btn-border-color: #93908f;
}

.favorite {
  width: 32px;
  height: 32px;
  position: relative; /* 用於定位 */
  padding: 0; /* 移除內邊距 */
  border: 1px solid rgba(241, 240, 240, 1);
  transition: border-color 0.3s, background-color 0.3s; /* 平滑過渡 */
  background-color: transparent;
  display: block;
}

.favorite-button {
  width: 32px;
  height: 32px;
  position: relative; /* 用於定位 */
  padding: 0; /* 移除內邊距 */
  border: 1px solid rgba(241, 240, 240, 1);
  transition: background-color 0.3s, border-color 0.3s; /* 平滑過渡 */
  // background-color: rgba(255, 255, 255, 0.6); /* 預設背景透明 */
  display: block;
}

.favorite:hover,
.favorite-button:hover {
  width: 32px;
  height: 32px;
  background-color: rgba(211, 211, 211, 0.6); /* hover 時的背景顏色 */
  border-color: rgba(211, 211, 211, 0.6);
  color: #93908f;
}

.favorite.isLike,
.favorite-button.isLike {
  width: 32px;
  height: 32px;
  background-color: #f14e3a;
  border-color: #f14e3a; /* 選取時的邊框顏色 */
}

@media (max-width: 576px) {
  .favorite-button {
    width: 40px;
    height: 40px;
  }

  .favorite:hover,
  .favorite-button:hover {
    width: 40px;
    height: 40px;
  }

  .favorite:hover,
  .favorite-button:hover {
    width: 40px;
    height: 40px;
  }

  .favorite.isLike,
  .favorite-button.isLike {
    width: 40px;
    height: 40px;
  }
}

.favorite.isLike .heartIcon,
.favorite-button.isLike .heartIcon-button {
  fill: white;
}

@media (max-width: 576px) {
  .favorite {
    display: none;
  }

  .favorite-div {
    display: block;
  }
}

@media (min-width: 577px) {
  .favorite-div {
    display: none;
  }
}

.sortList button {
  width: 148px;
  background-color: white;
}

.sortList .dropdown-menu {
  border-radius: 0;
  min-width: 148px;
}

/*將選單的箭頭推至最右*/
.sortList .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortList .dropdown-toggle::after {
  margin-left: auto;
}

.sortList .dropdown-toggle:hover {
  background-color: white;
  color: black;
}

/* 保持顏色不變 */
.sortList .dropdown-toggle:focus,
.sortList .dropdown-toggle:active {
  background-color: white;
  color: black;
}

.sortList .dropdown-menu-product .dropdown-item:hover,
.sortList .dropdown-menu-product .dropdown-item:focus {
  // background-color: rgba(198, 207, 215, 0.854);
  background-color: #f1f0f0;
  color: black;
}

.sortList .btn-check:checked + .btn,
.sortList :not(.btn-check) + .btn:active,
.sortList .btn:first-child:active,
.sortList .btn.active,
.sortList .btn.show {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.sortList .btn {
  color: #000;
}

/* 篩選 */
.selectButton {
  width: 139px;
  height: 56px;
  color: #000;
  background-color: #ffb962;
  border: none;
}

.selectButton h6 {
  text-align: left;
}

.selectButton:hover {
  color: #000;
  background-color: #c88119;
}

.btn-outline-primary {
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c88119;
}