<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header',{type: 'dark' ,mode: 'logout' }); -%>
    <main class="site-index">
      <div class="site-index__banner">
        <div
          class="w-100 h-50 w-md-50 h-md-100 bg-center bg-no-repeat bg-cover text-white d-flex justify-content-center align-items-end pb-10 pb-lg-20"
          style="background-image: url('/assets/images/index-banner-l.png');">
          <div class="d-flex flex-column text-center position-relative z-1">
            <p class="fw-bold tracking-md fs-base fs-md-h6">Shop</p>
            <h2 class="fs-dh2 fs-md-dh1 tracking-md fst-italic  fst-italic ">WOMAN</h2>
          </div>
        </div>
        <div
          class="w-100 h-50 w-md-50 h-md-100 bg-center bg-no-repeat bg-cover text-white d-flex justify-content-center align-items-end pb-10 pb-lg-20"
          style="background-image: url('/assets/images/index-banner-r.png');">
          <div class="d-flex flex-column text-center position-relative z-1">
            <p class="fw-bold tracking-md fs-base fs-md-h6">Shop</p>
            <h2 class="fs-dh2 fs-md-dh1 tracking-md fst-italic font-dm-serif">MAN</h2>
          </div>
        </div>
      </div>

      <section class="py-8 py-md-10 section__activity" data-aos="fade-up">
        <div class="container position-relative z-1 text-center">
          <div class="d-flex gap-3 flex-column">
            <h2 class="text-secondary-60  fs-h6 fw-bold text-md-secondary-40 fs-md-h4">全館三件免運</h2>
            <h3 class="fs-h1 fst-italic font-dm-serif fw-normal  fs-md-dh2">Free Shipping</h3>
            <p>2024/8/14-2024/9/14</p>
            <p class="fs-sm">(不含部份商品)</p>
          </div>
        </div>
      </section>

      <section class="section__slogan py-10 py-md-20" data-aos="fade-up">
        <div class="container">
          <div class="d-flex justify-content-between align-items-xl-start
           flex-column  flex-xl-row">
            <div class="position-relative">
              <div class="position-relative z-1">
                <div class="bg-primary-50 mb-3 w-24px h-24px">&nbsp;</div>
                <h2 class="d-flex flex-column fw-bold fs-h3 fs-md-dh1">
                  <span>穿出你的風格</span>
                  <span>展現你的自信</span>
                </h2>
              </div>
              <div class="section__slogan-text">
                <p>Style&Confidante</p>
                <p>Style&Confidante</p>
                <p>Style&Confidante</p>
              </div>
            </div>
            <div class="section__slogan-img">
              <img class="section__slogan-img--1" src="/assets/images/section-slogan-1.png" alt="Style&Confidante">
              <img class="section__slogan-img--2" src="/assets/images/section-slogan-2.png" alt="Style&Confidante">
            </div>
          </div>
        </div>
      </section>

      <section class="section__productCategories py-10  bg-nature-95 bg-md-nature-99" data-aos="fade-up">
        <div class="container">
          <nav class="d-flex justify-content-center w-100 mb-6 mb-md-10 w-sm-auto">
            <div class="nav nav-tabs section__productCategories-nav" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Women</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Men</button>
            </div>
          </nav>
        </div>
        <div class="container-sm">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
              tabindex="0">
              <div class="swiper-container swiper__productCategories-container">
                <div class="swiper swiper__productCategories text-white">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--dark "
                        style="background-image: url('/assets/images/category-top.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">上衣</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Top</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item"
                        style="background-image: url('/assets/images/category-jacket.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">外套</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Jacket</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--shadow"
                        style="background-image: url('/assets/images/category-dress.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">洋裝</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Dress</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item"
                        style="background-image: url('/assets/images/category-pants.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">褲子</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Pants</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--dark"
                        style="background-image: url('/assets/images/category-skirt.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">裙子</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1  fst-italic fw-normal font-dm-serif">Skirts</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--dark"
                        style="background-image: url('/assets/images/category-accessories.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">服飾配件</h2>
                          </a>
                          <h3 class="fs-h2 fs-md-h1 fst-italic fw-normal font-dm-serif">Accessories</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- If we need pagination -->
                  <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev">
                  <svg width="18" height="32">
                    <use href="/assets/images/prev.svg#prev"></use>
                  </svg>
                </div>
                <div class="swiper-button-next">
                  <svg width="18" height="32">
                    <use href="/assets/images/next.svg#next"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
              <div class="swiper-container swiper__productCategories-container">
                <div class="swiper swiper__productCategories text-white">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--dark "
                        style="background-image: url('/assets/images/category-top-m.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">上衣</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Top</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item"
                        style="background-image: url('/assets/images/category-jacket-m.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">外套</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Jacket</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--dark"
                        style="background-image: url('/assets/images/category-pants-m.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">褲子</h2>
                          </a>
                          <h3 class="fs-dh2 fs-md-dh1 fst-italic fw-normal font-dm-serif">Pants</h3>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper__productCategories-item swiper__productCategories-item--dark"
                        style="background-image: url('/assets/images/category-accessories-m.png');">
                        <div class="pb-7 text-center d-flex flex-column justify-content-end h-100">
                          <a href="#" class="text-reset stretched-link">
                            <h2 class="fs-sm fs-md-h6 fw-bold">服飾配件</h2>
                          </a>
                          <h3 class="fs-h2 fs-md-h1 fst-italic fw-normal font-dm-serif">Accessories</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- If we need pagination -->
                  <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev">
                  <svg width="18" height="32">
                    <use href="/assets/images/prev.svg#prev"></use>
                  </svg>
                </div>
                <div class="swiper-button-next">
                  <svg width="18" height="32">
                    <use href="/assets/images/next.svg#next"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-10 py-md-20 bg-nature-95 bg-md-nature-99" data-aos="fade-up">
        <div class="container-sm">
          <h2 class="fs-h5 fs-md-h2 fw-bold mb-6">熱門商品</h2>
          <div class="swiper-container swiper__popularProducts-container">
            <div class="swiper swiper__popularProducts">
              <div class="swiper-wrapper">
                <% for(let i=0; i<2; i++) {%>
                  <div class="swiper-slide position-relative">
                    <img class="w-100 img-fluid object-fit-cover mb-3" src="/assets/images/popular-product-1.png"
                      alt="popular-product-1">
                    <a href="#" class="stretched-link link-black">
                      <h3 class="d-flex flex-column gap-0 gap-md-1 tracking-sm fs-sm fs-md-base lh-base fw-normal">
                        <span> HOKA Speedgoat 5 Mid</span>
                        <span>GORE-TEX 男鞋 藍色/琥珀色</span>
                      </h3>
                    </a>
                  </div>
                  <div class="swiper-slide position-relative">
                    <img class="w-100 img-fluid object-fit-cover  mb-3" src="/assets/images/popular-product-2.png"
                      alt="popular-product-3">
                    <a href="#" class="stretched-link link-black">
                      <h3 class="d-flex flex-column gap-0 gap-md-1 tracking-sm fs-sm fs-md-base lh-base fw-normal">
                        <span> 韓國連線 七月新品 EU27</span>
                        <span>帆布皮帶側開叉牛仔長裙</span>
                      </h3>
                    </a>
                  </div>
                  <div class="swiper-slide position-relative">
                    <img class="w-100 img-fluid object-fit-cover mb-3" src="/assets/images/popular-product-3.png"
                      alt="popular-product-3">
                    <a href="#" class="stretched-link link-black">
                      <h3 class="d-flex flex-column gap-0 gap-md-1 tracking-sm fs-sm fs-md-base lh-base fw-normal">
                        <span>TABBY26號新縫單肩手袋</span>
                        <span>B4/黑色（CP150）</span>
                      </h3>
                    </a>
                  </div>
                  <% }%>
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev">
              <svg width="18" height="32">
                <use href="/assets/images/prev.svg#prev"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg width="18" height="32">
                <use href="/assets/images/next.svg#next"></use>
              </svg>
            </div>
          </div>
        </div>

      </section>

      <section class="section__features py-10 py-md-20" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 section__features-card d-flex mb-6">
              <div class="flex-grow-1 p-5 p-lg-7 bg-secondary-60 text-white features-card__content">
                <h2 class="mb-2 fs-base fs-lg-h5 fw-bold">豐富的商品種類</h2>
                <p class="mb-2 fs-sm fs-lg-base fw-normal">
                  從潮流單品到經典款式
                  <br />
                  應有盡有
                </p>
                <p class="features-card__title font-dm-serif fst-italic fs-h3 fs-lg-dh1 opacity-60">SHOP</p>
              </div>
              <img class="section__features-img" src="/assets/images/features-img-1.png" alt="" />
            </div>
            <div class="col-12 col-lg-4 section__features-card d-flex mb-6">
              <div class="flex-grow-1 p-5 p-lg-7 bg-primary-80 text-black features-card__content">
                <h2 class="mb-2 fs-base fs-lg-h5 fw-bold">優惠的代購價格</h2>
                <p class="mb-2 fs-sm fs-lg-base fw-normal">
                  批量採購
                  <br />
                  為您節省更多
                </p>
                <p class="features-card__title font-dm-serif fst-italic fs-h3 fs-lg-dh1 opacity-60">SAVE</p>
              </div>
              <img class="section__features-img" src="/assets/images/features-img-2.png" alt="" />
            </div>
            <div class="col-12 col-lg-4 section__features-card d-flex mb-6">
              <div class="flex-grow-1 p-5 p-lg-7 bg-nature-50 text-white features-card__content">
                <h2 class="mb-2 fs-base fs-lg-h5 fw-bold">便捷的購物體驗</h2>
                <p class="mb-2 fs-sm fs-lg-base fw-normal">
                  從選購到收貨
                  <br />
                  全程輕鬆無憂
                </p>
                <p class="features-card__title font-dm-serif fst-italic fs-h3 fs-lg-dh1 opacity-60">FAST</p>
              </div>
              <img class="section__features-img" src="/assets/images/features-img-3.png" alt="" />
            </div>
          </div>
        </div>
      </section>

      <section class="section__comment pt-6  pb-25 pt-md-10 pb-md-30" data-aos="fade-up">
        <div class="container">
          <h2 class="fs-h5 fs-md-h2 fw-bold mb-6">熱門好評</h2>
          <div class="row row-gap-3 row-gap-md-6">
            <div class="col-md-6 col-lg-3">
              <div class="bg-nature-95 p-4 p-md-6 h-100">
                <div class="d-flex align-items-center gap-3 mb-3">
                  <div class="rounded-circle overflow-hidden w-24px h-24px w-md-40px h-md-40px">
                    <img class="img-fluid object-fit-cover w-100 h-100 d-block" src="/assets/images/comment-1.png"
                      alt="comment-1">
                  </div>
                  <h3 class="fs-xs fs-md-h6 fw-bold">陳志豪</h3>
                </div>
                <p class="fs-sm tracking-sm fs-md-base">
                  外套質量超乎預期！面料柔軟舒適，剪裁合身。冬天保暖又時尚，絕對值得購買。
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="bg-nature-95 p-4 p-md-6 h-100">
                <div class="d-flex align-items-center gap-3 mb-3">
                  <div class="rounded-circle overflow-hidden w-24px h-24px w-md-40px h-md-40px">
                    <img class="img-fluid object-fit-cover w-100 h-100 d-block" src="/assets/images/comment-2.png"
                      alt="comment-2">
                  </div>
                  <h3 class="fs-xs fs-md-h6 fw-bold">張大名</h3>
                </div>
                <p class="fs-sm tracking-sm fs-md-base">
                  上衣款式新穎，穿著非常舒適。洗滌後也不變形，是我衣櫥的新寵。
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="bg-nature-95 p-4 p-md-6 h-100">
                <div class="d-flex align-items-center gap-3 mb-3">
                  <div class="rounded-circle overflow-hidden w-24px h-24px w-md-40px h-md-40px">
                    <img class="img-fluid object-fit-cover w-100 h-100 d-block" src="/assets/images/comment-3.png"
                      alt="comment-3">
                  </div>
                  <h3 class="fs-xs fs-md-h6 fw-bold">王芳</h3>
                </div>
                <p class="fs-sm tracking-sm fs-md-base">
                  這條洋裝太讚了！適合各種場合，穿起來很有氣質。朋友們都誇我眼光好。
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="bg-nature-95 p-4 p-md-6 h-100">
                <div class="d-flex align-items-center gap-3 mb-3">
                  <div class="rounded-circle overflow-hidden w-24px h-24px w-md-40px h-md-40px">
                    <img class="img-fluid object-fit-cover w-100 h-100 d-block" src="/assets/images/comment-4.png"
                      alt="comment-4">
                  </div>
                  <h3 class="fs-xs fs-md-h6 fw-bold">林小美</h3>
                </div>
                <p class="fs-sm tracking-sm fs-md-base">
                  褲子的質地和做工都很棒，穿著舒適又耐穿。尤其適合辦公室穿搭，很專業。
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>


    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script type="module" src="/assets/js/index.js"></script>
</body>

</html>