<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header',{type: 'dark' ,mode: 'logout' }); -%>
    <main class="site-index">
      <div class="site-index__banner">
        <div
          class="w-100 h-50 w-md-50 h-md-100 bg-center bg-no-repeat bg-cover text-white d-flex justify-content-center align-items-end pb-10 pb-lg-20"
          style="background-image: url('/assets/images/index-banner-l.png');">
          <div class="d-flex flex-column text-center position-relative z-1">
            <p class="fw-bold tracking-md fs-base fs-md-h6">Shop</p>
            <h2 class="fs-dh2 fs-md-dh1 tracking-md fst-italic font-dm-serif">WOMAN</h2>
          </div>
        </div>
        <div
          class="w-100 h-50 w-md-50 h-md-100 bg-center bg-no-repeat bg-cover text-white d-flex justify-content-center align-items-end pb-10 pb-lg-20"
          style="background-image: url('/assets/images/index-banner-r.png');">
          <div class="d-flex flex-column text-center position-relative z-1">
            <p class="fw-bold tracking-md fs-base fs-md-h6">Shop</p>
            <h2 class="fs-dh2 fs-md-dh1 tracking-md fst-italic font-dm-serif">MAN</h2>
          </div>
        </div>
      </div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>