<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header',{type: 'dark' ,mode: 'logout' }); -%>
    <main class="site-index">
      <div class="site-index__banner">
        <div class="w-50 h-100">
          <img class="img-fluid h-100 object-fit-cover" src="/assets/images/index-banner-l.png" alt="">
        </div>
        <div class="w-50 h-100">
          <img class="img-fluid h-100 object-fit-cover" src="/assets/images/index-banner-r.png" alt="">
        </div>
      </div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt modi harum amet nostrum voluptatum neque optio dolor
      placeat quisquam sed odit fugit perspiciatis omnis deleniti quae, adipisci totam libero porro.
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>